/* Main ajustments */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body {
    background-color: hsl(225, 100%, 94%);
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    font-size: 16px;
    color: hsl(224, 23%, 55%);
}

@media (max-width: 460px) {
    body {
    background-image: url(./images/pattern-background-mobile.svg);
    }
}

ul {
    list-style: none;
}

/* Main Card Section */

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 534px;
    width: 335px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 20px 12px hsl(225, 100%, 94%);
}

@media (max-width: 460px) {
    .card {
        margin-top: 70px;
        margin-bottom: 70px;
    }
}

.header-img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card > h1 {
    font-size: 18px;
    margin-top: 45px;
    font-weight: 900;
    color: black;
}

.card > p {
    margin-top: 3px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 13px;
    font-weight: 500;
    white-space: pre-line;
}

@media (max-width: 460px) {
    .card > h1 {
        margin-top: 40px;
    }
}

.payment {
    display: flex;
    align-items: center;
    width: 270px;
    height: 70px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    font-size: 13px;
}

.payment ul {
    display: flex;
    flex-direction: column;
    margin-left: -25px;
}

.payment li {
    padding: 2px 0;
}

.payment b {
    color: black;
}

.icon-music {
    width: 35px;
    margin-left: 15px;
}

.payment a {
    margin-left: 60px;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
}

button {
    width: 270px;
    height: 40px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 900;
    cursor: pointer;
}

#payment {
    margin-top: 25px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border:hsl(245, 75%, 52%);
    box-shadow: 0px 16px 16px hsl(225, 100%, 94%);
}

#cancel {
    margin-top: 10px;
    margin-bottom: 35px;
    background-color: transparent;
    color: hsl(224, 23%, 55%);
    border: transparent;
}

/* Main Footer Section */

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}